---
import { Icon } from "astro-icon/components";
import { formatFrontmatterDate } from "../../utils/date";
import { Image } from "astro:assets";

const { id, data } = Astro.props;
---

<article class="group h-full">
  <a
    href={`/blog/${id}`}
    class="flex flex-col gap-3 h-full border border-gray-200 overflow-hidden rounded-xl"
  >
    <div
      class="text-center w-full flex-1 flex flex-col justify-between items-center p-4"
    >
      <p
        class="flex flex-wrap gap-2 gap-x-4 items-center uppercase justify-center text-xs"
      >
        <span class="btn btn-outline px-3 py-1 h-auto text-xs rounded-md"
          >{data.category.title}</span
        >
        <span>{data.author.name}</span>
        <time datetime={data.pubDate.toISOString()}>
          {formatFrontmatterDate(data.pubDate)}
        </time>
      </p>
      <h3 class="h5 my-4 group-hover:underline">{data.title}</h3>
      <p class="mb-6">{data.description}</p>

      <button
        class="btn bg-main border-main text-white rounded-lg hover:bg-green-600 w-full mt-auto"
      >
        Read more
        <Icon name="lucide:arrow-up-right" size={16} />
      </button>
    </div>
  </a>
</article>
